body {
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:hidden;
}
#wrapper {
    position:absolute;
    width:100vw;
    background: radial-gradient(rgb(63, 63, 63), black);
    height:100vh;
}

#wrapper h1 {
    font-weight: 100;
    margin:0;
    font-size:4rem;
    text-align:center;
    color:white;
    position:relative;
    top:50%;
    transform:translate(0, -50%);
    animation:3s blink alternate;
    animation-iteration-count: infinite;
    transition: top 1s, font-size 1s;
    text-shadow: 1px 1px 1rem black;
}

#hl2 {
    display:none;
}

#contentwrapper {
    display:none;
    position:absolute;
    top:4rem;
    width:100vw;
    height:100vw;
    justify-content: center;
}

#innercontent {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top:10vh;
    background:transparent;
    width:40rem;
    height:40rem;
}

#innercontent span{
color:white;
font-size:1rem;
margin-top:1rem;
}

#innercontent img{
    height:35rem;
}

.footer {
    width:100vw;
    height:2rem;
    color:grey;
    position:absolute;
    top:70%;
    text-align:center;
    justify-content: center;
    display:flex;
}

.footer a, #contact {
    text-decoration: none;
    color:grey;
    transition:color .2s;
}

.footer a:hover, #contact:hover {
    color:white;
    cursor:pointer;
}

#contactinfo {
    display:none;
    position:relative;
    left:auto;
    bottom:5rem;
    background: black;
    height:fit-content;
    width:fit-content;
    padding:1rem;
    border-radius:3%;
    border:1px solid white;
}

#contactinfo h5 {
    padding:0;
    margin:0;
    font-size:1.3rem;
    font-weight:200;
}

/*object circle*/
.objcircle {
    border:1px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height:2rem;
    border-radius:50%;
    position:absolute;
    transition: height .5s, width .5s;
}


/*specs*/
.spwrap {
    display:none;
}

.specs {
    position:absolute;
    top:-50%;
    left:-8rem;
    width:20rem;
    height:fit-content;
    max-height:11rem;
    overflow:auto;
    border:1px solid rgba(255, 255, 255, .2);
    border-radius:3%;
    background-image: radial-gradient(circle,rgb(20, 20, 20), black);
    color:lightgrey;
    z-index:1000;
    padding:0 1rem 1rem 1rem;
    font-weight:200;
}

.specs h3 {
    font-weight:200;
}

.specs span {
    font-size:.8rem;
}

.specs span img {
    width:70%;
    border-radius:3%;
    transition: box-shadow .5s;
}

.specs span img:hover {
    box-shadow: 0 0 1rem grey;
}

.specs span a {
    text-decoration:none;
    color:white;
    transition: color .2s;
}

.specs span a:hover {
    color:grey;
}

.specs::-webkit-scrollbar {
    width: 5px;
    background:transparent;
  }
  
  .specs::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .specs::-webkit-scrollbar-thumb {
    background-color: white;    
    border-radius: 20px;     
  }

.spec-circ {
    border-radius:50%;
    height:10rem;
    width:10rem;
    position:absolute;
    left:-20rem;
    top:-50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*buttons, particles*/
button {
    background:white;
    border-radius: 50%;
    height:3rem;
    width:3rem;
    border:0;
    font-size:2rem;
    transition: opacity .2s;
    animation:.7s buttonanim alternate;
    animation-iteration-count: infinite;
}

.particle {
    background:white;
    border-radius: 50%;
    height:5px;
    width:5px;
    position:absolute;
    animation-timing-function: linear;
}

#glWindow {
width: 250px;
height: 250px;
margin-left: 100px;
}

/*keyframes*/
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes blink{
    from{
        opacity:0.5;
    }
    to{
        opacity:0.8;
    }
}
@keyframes snowAnim{
    0% {
        transform:translate(0vw, 0vh);
    }
    20% {
        transform:translate(10vw, 20vh);
    }
    40% {
        transform:translate(2vw, 40vh);
    }
    60% {
        transform:translate(7vw, 60vh);
    }
    80% {
        transform:translate(10vw, 80vh);
    }
    100% {
        transform:translate(0vw, 100vh);
    }
}

@keyframes buttonanim{
    from{
        transform:none;
    }
    to {
        transform:translate(0, -6px);
    }
}
